.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 120px;
}

.logo {
  display: block;
  @include accent-font(32px, 600, 39px);
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  &:not(:last-child) {
    margin-right: 32px;
  }
}

.main-nav__link {
  @include main-font(16px, 500, 19px);
  color: #192252;
  transition: color 250ms $bezier-timing;

  &:hover {
    color: $main-accent-color;
  }
}

.main-nav__button {
  @include main-button();
}
