//Text colors
$main-text-color: #848fac;
$secondary-text-color: #192252;
$accent-color: #fab047;
$main-accent-color: #ff620a;

//Background color section
$backgrond-color: #f5f4fa;

//Fotter colors
$bg-footer: #0b265a;
$footer-main-text-color: #fff;
$footer-secondary-text-color: #d9dbde;
$footer-hover: #848fac;

// Fonts
$main-font: "Inter", sans-serif;
$secondary-font: "Montserrat", sans-serif;

//Buttons
$button-bg-color: #0e1734;
$button-text-color: #fff;
$main-accent-button-bg-color: #ff620a;

// Cubic-bezier
$bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);
