$main-text-color: #848fac;
$secondary-text-color: #192252;

$bg-footer: #0b265a;

// Cubic-bezier
$bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$main-font: "Inter", sans-serif;
$secondary-font: "Montserrat", sans-serif;

//Buttons
$accent-button-bg-color: #0e1734;
$accent-button-text-color: #fff;

//Background color
$backgrond-color: #f5f4fa;
